################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/E-Commerance-Website/.vs
/E-Commerance-Website/E-Commarance-Website/.vs
/E-Commerance-Website/E-Commarance-Website/obj
/E-Commerance-Website/obj
/E-Commerance-Website/bin/Debug/net8.0
